<template>
  <CDropdown
    inNav
    class="c-header-nav-items"
    placement="bottom-end"
    add-menu-classes="pt-0"
  >
    <template #toggler>
      <CHeaderNavLink>
        <div class="c-avatar">
          <img src="img/avatars/6.jpg" class="c-avatar-img " v-if="usuario.foto==null" />
          <img :src="baseUrl+'/'+usuario.foto" class="c-avatar-img " v-else />
        </div>
      </CHeaderNavLink>
    </template>

    <CDropdownHeader tag="div" class="text-center" color="light">
      <strong>{{ $store.state.usuarioModule.usuario.usuario }}</strong>
    </CDropdownHeader>
    <CDropdownItem>
      <CIcon name="cil-user" /><CHeaderNavLink to="/perfil"
        >Perfil</CHeaderNavLink
      >
    </CDropdownItem>
    <CDropdownItem @click="cerrarSesion()">
      <CIcon name="cil-lock-locked" />
      <a>Cerrar sesion </a>
    </CDropdownItem>
  </CDropdown>
</template>

<script>
export default {
  name: "TheHeaderDropdownAccnt",
  data() {
    return {
      usuario:null,
      itemsCount: 42,
      baseUrl:process.env.VUE_APP_BASE_URL
    };
  },
  mounted() {
    let usuarioLocal = localStorage.getItem("usuario");
    this.usuario = JSON.parse(usuarioLocal);
  },
  methods: {
    cerrarSesion() {
      localStorage.removeItem("usuario");
      localStorage.removeItem("tokenAuth");
      this.$router.push(
        "/",
        () => {},
        () => {}
      );
    },
  },
};
</script>

<style scoped>
.c-icon {
  margin-right: 0.3rem;
}
</style>
