<template>
  <div>
    <CButton
      color="success"
      variant="outline"
      size="sm"
      title="Editar"
      square
      @click="buscar(id)"
    >
      <Fa icon="pencil-alt"></Fa>
    </CButton>
    <form @submit.prevent="actualizar(id)">
      <CModal
        title="Nuevo Servicio"
        color="primary"
        :show.sync="activarModal"
        :footer="false"
      >
        <div>
          <div class="container-fluid">
            <div class="form-group">
              <label>Nombre</label>
              <input class="form-control " required v-model="nombre" />
            </div>

            <div class="form-group">
              <label>Descripción</label>
              <textarea
                class="form-control"
                required
                v-model="descripcion"
              ></textarea>
            </div>
            <div class="form-group">
              <label>Tiempo horas</label>
              <input
                class="form-control"
                required
                v-model="tiempo"
                type="number"
                step="any"
                min="0"
              />
            </div>
            <div class="form-group">
              <label>Tipo de Servicio</label>
              <select class="form-control" required v-model="tipoSexo">
                <option value="1">Pequeño</option>
                <option value="2">Mediano </option>
                <option value="3">Grande</option>
              </select>
            </div>
            <div class="form-group">
              <label>Lugar del Servicio</label>
              <select
                class="form-control"
                required
                v-model="lugarServicio"
                @change="handleLugarServicio()"
              >
                <option value="1">Lugar del Negocio</option>
                <option value="2">Lugar del Cliente </option>
              </select>
            </div>
            <div class="form-group" v-if="activarUbicacion">
              <label>Direcci&oacute;n</label>
              <input class="form-control" v-model="direccion" />
            </div>
          </div>
        </div>
        <template #footer>
          <div class="float-right">
            <CButton
              color="secondary"
              @click="cerrarModal()"
              :variant="'outline'"
              class="mx-2"
              >Cancelar</CButton
            >
            <CButton
              color="primary"
              variant="outline"
              class="mx-2"
              type="submit"
              >Registrar</CButton
            >
          </div>
        </template>
      </CModal>
    </form>
  </div>
</template>

<script>
import Service from "../../../../servicio/ServicioService";
import Swal from "sweetalert2";

export default {
  name: "EditarEmpleado",
  components: {},
  props: ["refrescarLista", "id"],
  data() {
    return {
      activarModal: false,
      nombre: "",
      descripcion: "",
      tiempo: "",
      tipoSexo: "1",
      lugarServicio: "1",
      direccion: "",
      activarUbicacion: false,
    };
  },
  props: { id: { type: Number }, refrescarTabla: { type: Function } },
  methods: {
    cerrarModal() {
      this.limpiarModal();
      this.activarModal = false;
    },
    handleLugarServicio() {
      let lugar = this.lugarServicio;
      console.log(lugar);
      if (lugar == "2") this.activarUbicacion = true;
      else this.activarUbicacion = false;
    },
    abrirModal() {
      this.limpiarModal();
      this.activarModal = true;
    },

    limpiarModal() {
      this.nombre = "";
      this.descripcion = "";
      this.tiempo = "";
      this.tipoSexo = "1";
      this.lugarServicio = "1";
      this.direccion = "";
      this.activarUbicacion = false;
    },

    async actualizar(id) {
      let _vm = this;
      Swal.fire({
        onBeforeOpen: () => {
          Swal.showLoading();
        },
      });
      let data = {
        tipoSexo: this.tipoSexo,
        tiempo: this.tiempo,
        descripcion: this.descripcion,
        nombre: this.nombre,
        lugarServicio: this.lugarServicio,
        direccion: this.direccion,
      };

      let resultService = await Service.actualizar(id, data);
      console.log(resultService);
      if (resultService.status === 200 && resultService.statusText === "OK") {
        Swal.fire({
          position: "top-center",
          icon: "success",
          showConfirmButton: false,
          timer: 1500,
        });

        _vm.$toasted.global
          .appSuccess({
            mensaje: "información actualizada",
          })
          .goAway(3000);
        _vm.limpiarModal();
        _vm.activarModal = false;
        _vm.refrescarTabla(true);
      } else {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "no se pudo actualizar información",
        });
      }
    },
    cargarInformacion(response) {
      this.nombre = response.nombre;
      this.descripcion = response.descripcion;
      this.tiempo = response.tiempo;
      this.tipoSexo = response.tipoSexo;
      this.direccion = response.direccion;
      this.lugarServicio = response.lugarServicio;
      if (this.lugarServicio == "2") this.activarUbicacion = true;
      else this.activarUbicacion = false;
    },

    async buscar(id) {
      Swal.fire({
        onBeforeOpen: () => {
          Swal.showLoading();
        },
      });
      let resultBusqueda = await Service.buscar(id);

      if (resultBusqueda.status === 200 && resultBusqueda.statusText === "OK") {
        Swal.close();
        this.limpiarModal();
        this.cargarInformacion(resultBusqueda.data);
        this.activarModal = true;
      } else {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "No se encontró información",
        });
        this.limpiarInformacion();
        this.activarModal = false;
      }
    },
  },
};
</script>

<style></style>
