<template>
<div class="container-fluid">
  <CCard>
    <CCardHeader>
      Citas Pendientes
    </CCardHeader>
    <CCardBody>
      <CDataTable
          :fields="cabecera"
          :items="listPendientes.detalleReservacion"
          table-filter
          items-per-page-select
          :items-per-page="5"
          small
          bordered
          striped
          sorter
          pagination
      >
        <template #servicio="{item}">
          <td>
            <div v-if="item.reservacion!==null">
              <div style="display:flex" class="p-1">
                <div style="">
              <img
                  v-if="item.reservacion.servicioEmpresa[0].imagenServicio === null"
                  class="rounded"
                  style="width:100px"
                  height="50"
                  src="../../assets/img/default.png"
              />
              <img
                  v-else
                  :src="baseUrl + '/'+item.reservacion.servicioEmpresa[0].imagenServicio"
                  class="rounded"
                  height="50"
                  style="width:100px"
              />
                </div>
                <div class="p-1">
              <span>Servicio: {{item.reservacion.servicioEmpresa[0].descripcion}}</span><br>
              <span>Precio :{{item.reservacion.servicioEmpresa[0].precio}}</span><br>
                </div>
              </div>
            </div>
          </td>
        </template>
        <template #Index="{item}">
          <td>
            <div v-if="item.reservacion!==null">
            <strong>{{item.reservacion.cliente.persona.nombre +" "+item.reservacion.cliente.persona.apellido}}</strong><br>
            <span>{{item.reservacion.cliente.persona.dni}}</span>
            </div>
          </td>
        </template>
        <template #fecha="{item}">
          <td>
            <div v-if="item.reservacion!==null">
             {{moment(item.reservacion.fechaReservacion).format("DD/MM/YYYY HH:mm a")}}
            </div>
          </td>
        </template>
        <template #estado="{item}">
          <td>
            <label class="badge"
                   :class="{'badge-primary':item.estado==2,
                   'badge-success':item.estado==1}">
              {{textEstado(item.estado)}}
            </label>
          </td>
        </template>
        <template #opciones="{item}">
          <td>
            <div v-if="item.estado==1">
              <button class="btn btn-sm btn-success" title="Completar servicio"
              @click="completarServicio(item.id)">
                <span class="fa fa-check"></span>
              </button>
            </div>
          </td>
        </template>

      </CDataTable>
    </CCardBody>
  </CCard>
</div>
</template>
<script>
import moment from "moment"
let cabecera=[
  {key:"Index",label:"Cliente"},
  {key:"servicio",label:"Servicio"},
  {key:"fecha",label:"Fecha"},
  {key:"estado",label:"Estado"},
  {key:"opciones",label:"Opciones"}
]
import Servicio from "../../servicio/ReservacionService"
import Swal from "sweetalert2"

export default {
data(){
  return{
    moment:moment,
    cabecera:cabecera, baseUrl: process.env.VUE_APP_BASE_URL,
    listPendientes:[],
    usuario:null
  }
},
  mounted() {
  let usuario=JSON.parse(localStorage.getItem("usuario"));
  this.usuario=usuario
  this.listarPendientexEmpleado(usuario.id);
  },
  methods:{
  async completarServicio(idDetalleServicio){

    let _vm = this;
    Swal.fire({
      text: "Terminar trabajo?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Aceptar",
      cancelButtonText: "Cancelar",
    }).then(async (result) => {
      if (result.value) {
        console.log(result);
        Swal.fire({
          text: "actualizando....",
          onBeforeOpen: () => {
            Swal.showLoading();
          },
        });
        let resultActualizacion=await Servicio.actualizarDetalleServicio(idDetalleServicio)
        if (
            resultActualizacion.status === 200 &&
            resultActualizacion.statusText === "OK"
        ) {
          Swal.close();
          Swal.fire({
            position: "top-center",
            icon: "success",
            showConfirmButton: false,
            timer: 1500,
          });
          _vm.$toasted.global
              .appSuccess({
                mensaje: "Servicio completado",
              })
              .goAway(3000);
          _vm.listarPendientexEmpleado(_vm.usuario.id);
        }
      }
    });


  },
  textEstado(estado){
    switch (estado) {
      case 1:
        return "Pendiente";
        break;
      case 2:
        return "Compleatdo";
        break;
    }
  },

  async listarPendientexEmpleado(empleadoId){
    let servicioResult=await Servicio.listarReservacionesxEmpleado(empleadoId);
    this.listPendientes=servicioResult.data[0];
    console.log(this.listPendientes);
  }
  }
}
</script>