<template
  ><div>
    <CCard>
      <CCardHeader>
        Usuarios
      </CCardHeader>
      <CCardBody>
        <CrearUsuario :refrescarLista="actualizarLista"></CrearUsuario>
        <div class="clearfix"></div>
        <TablaUsuario
          :lista="listaUsuarios"
          :refrescarLista="actualizarLista"
        ></TablaUsuario>
      </CCardBody>
    </CCard>
  <div
      style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
      @click="modalAyuda=true">Ayuda?
  </div>
  <CModal
      :show.sync="modalAyuda"
      :footer="false"
      size="xl"
      backdrop="static"
  >
    <template #header>
      <CModalHeader>
        <CModalTitle>Manual Ayuda</CModalTitle>
      </CModalHeader>
    </template>
    <div class="container-fluid">
      <iframe :src="urlAyuda+'/pagina_principal.htm'" style="width: 100%;height: 500px"></iframe>
    </div>
    <template #footer>
      <div class="float-right">
        <CButton
            color="secondary"
            @click="modalAyuda=false"
            :variant="'outline'"
            class="mx-2"
        >Cancelar
        </CButton>
      </div>
    </template>
  </CModal>
  </div>
</template>

<script>
import usuarioService from "../../../servicio/UsuarioService";
import CrearUsuario from "./components/CrearUsuario";
import TablaUsuario from "./components/TablaUsuario";

export default {
  components: { CrearUsuario: CrearUsuario, TablaUsuario },
  data() {
    return {
      urlAyuda:process.env.VUE_APP_URL_AYUDA,
      listaUsuarios: [],
      modalAyuda:false
    };
  },
  mounted() {
    this.listarUsuarios();
  },
  methods: {
    actualizarLista(condicion) {
      if (condicion) {
        this.listarUsuarios();
      }
    },
    cerrarAyudaModal(){},
    async listarUsuarios() {
      let resultUsuarios = await usuarioService.listarUsuarios();
      console.log(resultUsuarios);
      if (resultUsuarios.status == 200) {
        this.listaUsuarios = [];
        let _vm = this;
        this.listaUsuarios = resultUsuarios.data.map((usuario) => {
          let newUsuario = usuario;
          newUsuario.Opciones = "";
          newUsuario.Clave = _vm.convertirClave(usuario.Clave);
          return newUsuario;
        });
      }
    },
    convertirClave(clave) {
      let length = clave.length;
      let cif = clave.substr(0, 1);

      for (let index = 0; index < length; index++) {
        cif += "*";
      }
      return cif;
    },
  },
};
</script>
