
<script>
import { Bar } from 'vue-chartjs'
import {reactiveProp} from "vue-chartjs/es/mixins";
export default {
  name: "Bar",
  extends: Bar,
  mixins: [reactiveProp],
  props:["chartData","options"],
  mounted () {
    this.renderChart(this.chartData, this.options)
  }
}

</script>

<style scoped>

</style>
