<script>
import { Line } from 'vue-chartjs'
import {reactiveProp} from "vue-chartjs/es/mixins";
export default {
  name: "Line",
  extends: Line,
  mixins: [reactiveProp],
  props:["chartData","options"],
  mounted () {
    this.renderChart(this.chartData, this.options)
  }
}

</script>

<style scoped>

</style>
