<template
  ><div>
    <CCard>
      <CCardHeader>
        Empresas
      </CCardHeader>
      <CCardBody>
        <!--<CrearCliente :refrescarLista="actualizarLista"></CrearCliente>-->
        <!--<div class="clearfix"></div>-->
        <div>
          <TablaCliente
            :lista="list"
            :refrescarLista="actualizarLista"
          ></TablaCliente>
        </div>
      </CCardBody>
    </CCard>
  <div
      style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
      @click="modalAyuda=true">Ayuda?
  </div>
  <CModal
      :show.sync="modalAyuda"
      :footer="false"
      size="xl"
      backdrop="static"
      :visible="modalAyuda"
  >
    <template #header>
      <CModalHeader>
        <CModalTitle>Manual Ayuda</CModalTitle>
      </CModalHeader>
    </template>
    <div class="container-fluid">
      <iframe :src="urlAyuda+'/componente_negocio_clientes.htm?ms=AyAh&st=MA%3D%3D&sct=MA%3D%3D&mw=MzIw'"
              style="width: 100%;height: 500px"></iframe>
    </div>
    <template #footer>
      <div class="float-right">
        <CButton
            color="secondary"
            @click="modalAyuda=false"
            :variant="'outline'"
            class="mx-2"
        >Cancelar
        </CButton>
      </div>
    </template>
  </CModal>
  </div>
</template>

<script>
import clienteService from "../../../servicio/ClienteService";
import CrearCliente from "./components/CrearCliente";
import TablaCliente from "./components/TablaCliente";

export default {
  components: { CrearCliente, TablaCliente },
  data() {
    return {
      list: [],
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
    };
  },
  mounted() {
    this.listarClientes();
  },
  head: {
    title: { inner: "Clientes" },
  },
  methods: {
    actualizarLista(condicion) {
      if (condicion) {
        this.listarClientes();
      }
    },
    async listarClientes() {
      let resultClient = await clienteService.listar();
      console.log(resultClient);
      if (resultClient.status == 200) {
        this.list = [];
        this.list = resultClient.data.map((client) => {
          let newClient = client;
          newClient.Opciones = "";
          return newClient;
        });
      }
    },
  },
};
</script>

<style></style>
