<template>
  <div class="">
    <Navbar></Navbar>
    <CContainer fluid>
      <CRow class="justify-content-center mt-5">
        <CCol md="6">
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm @submit.prevent="registrar()">
                <h3 class="text-center">Registrar</h3>
                <hr />
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><CIcon name="cil-user"></CIcon
                    ></span>
                  </div>
                  <TheMask
                    v-model="dni"
                    :mask="['########']"
                    class="form-control"
                    placeholder="Dni"
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><CIcon name="cil-user"></CIcon
                    ></span>
                  </div>
                  <input
                    v-model="nombre"
                    type="text"
                    class="form-control"
                    placeholder="Nombres"
                    required
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><CIcon name="cil-user"></CIcon
                    ></span>
                  </div>
                  <input
                    v-model="apellidos"
                    type="text"
                    class="form-control"
                    placeholder="Apellidos"
                    required
                  />
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><CIcon name="cil-user"></CIcon
                    ></span>
                  </div>
                  <Datepicker
                    v-model="fnacimiento"
                    input-class="form-control "
                    format="dd/MM/yyyy"
                    required
                    placeholder="Fecha nacimiento"
                  ></Datepicker>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><CIcon name="cil-user"></CIcon
                    ></span>
                  </div>
                  <MaskedInput
                    type="text"
                    name="correo"
                    class="form-control"
                    v-model="correo"
                    :mask="emailmask"
                    required
                    placeholder="correo"
                    :guide="true"
                  ></MaskedInput>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><CIcon name="cil-user"></CIcon
                    ></span>
                  </div>
                  <TheMask
                    type="text"
                    name="celular"
                    class="form-control"
                    v-model="celular"
                    :mask="['+(51) ### ### ###']"
                    :guide="true"
                    required
                    placeholder="Celular"
                  ></TheMask>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><CIcon name="cil-user"></CIcon
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    v-model="usuario"
                    placeholder="Usuario"
                    required
                  />
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><CIcon name="cil-lock-locked"></CIcon
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    v-model="clave"
                    placeholder="Clave"
                    required
                  />
                </div>
                <CButton type="submit" color="success" block
                  >Crear Cuenta</CButton
                >
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
    <div style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
         @click="modalAyuda=true">Ayuda?
    </div>
    <CModal
        :show.sync="modalAyuda"
        :footer="false"
        size="xl"
        backdrop="static"
    >
      <template #header>
        <CModalHeader>
          <CModalTitle>Manual Ayuda</CModalTitle>
        </CModalHeader>
      </template>
      <div class="container-fluid">
        <iframe :src="urlAyuda+'/registro.htm?ms=ASA%3D&st=MA%3D%3D&sct=MA%3D%3D&mw=MzIw'" style="width: 100%;height: 500px"></iframe>
      </div>
      <template #footer>
        <div class="float-right">
          <CButton
              color="secondary"
              @click="modalAyuda=false"
              :variant="'outline'"
              class="mx-2"
          >Cancelar
          </CButton>
        </div>
      </template>
    </CModal>
  </div>
</template>

<script>
import Servicio from "../../../servicio/ClienteService";
import emailMask from "text-mask-addons/dist/emailMask";
import MaskedInput from "vue-text-mask";
import { TheMask } from "vue-the-mask";
import Navbar from "../../../components/NavBar";
import Datepicker from "vuejs-datepicker";
import Swal from "sweetalert2";

export default {
  name: "CrearEmpleado",
  components: {
    MaskedInput,
    emailMask,
    Datepicker,
    TheMask,
    Navbar,
  },

  data() {
    return {
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
      nombre: "",
      apellidos: "",
      correo: "",
      fnacimiento: "",
      validarClave: "",
      clave: "",
      usuario: "",
      dni: "",
      celular: "",
      tipo: "Cliente",
      emailmask: emailMask,
    };
  },
  props: ["refrescarLista"],
  methods: {
    async registrar() {
      console.log("registro");
      Swal.fire({
        onBeforeOpen: () => {
          Swal.showLoading();
        },
      });
      let data = {
        nombre: this.nombre,
        apellidos: this.apellidos,
        correo: this.correo,
        fechaNacimiento: this.fnacimiento,
        clave: this.clave,
        usuario: this.usuario,
        celular: this.celular,
        dni: this.dni,
        tipo: "Cliente",
        rolCodigo: "cliente",
      };
      var expRegNombre = /^[a-zA-ZÑñÁáÉéÍíÓóÚúÜü\s]+$/;
      var expRegApellidos = /^[a-zA-ZÑñÁáÉéÍíÓóÚúÜü\s]+$/;

      if (
        data.nombre.length > 0 &&
        data.dni.length == 8 &&
        data.apellidos.length > 0
      ) {
        if (
          expRegNombre.exec(data.nombre) &&
          expRegApellidos.exec(data.apellido)
        ) {
          let result = await Servicio.crear(data);
          console.log(result);
          if (result.status == 200 || result.statusText == "Ok") {
            Swal.fire({
              position: "top-center",
              icon: "success",
              showConfirmButton: false,
              timer: 1500,
            });
            this.$toasted.global
              .appSuccess({
                mensaje: "Usuario Registrado",
              })
              .goAway(5000);
            let token = result.data.token;
            let usuario = {
              rol: result.data.Rol,
              usuario: result.data.Usuario,
              id: result.data.IdUsuario,
            };
            this.$store.commit("cargarUsuario", usuario);
            localStorage.setItem("usuario", JSON.stringify(usuario));
            localStorage.setItem("tokenAuth", token);
            this.$router.push(
              "/dashboard",
              () => {},
              () => {}
            );
          } else {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "no se pudo actualizar información",
            });
            localStorage.removeItem("tokenAuth");
          }
        } else {
          Swal.close();
          this.$toasted.global
            .appError({
              mensaje: "nombre y/o apellido incorrecto",
            })
            .goAway(5000);
        }
      } else {
        Swal.close();
        this.$toasted.global
          .appError({
            mensaje: "verificar todos los campos",
          })
          .goAway(5000);
      }
    },
  },
};
</script>

<style></style>
