<template>
  <div class="container-fluid">
    <CCard>
      <CCardHeader>
        Principal
      </CCardHeader>
      <CCardBody>
        adladasdnsalkkl

      </CCardBody>
    </CCard>
    <div
        style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
        @click="modalAyuda=true">Ayuda?
    </div>
    <CModal
        :show.sync="modalAyuda"
        :footer="false"
        size="xl"
        backdrop="static"
        :visible="modalAyuda"
    >
      <template #header>
        <CModalHeader>
          <CModalTitle>Manual Ayuda</CModalTitle>
        </CModalHeader>
      </template>
      <div class="container-fluid">
        <iframe :src="urlAyuda+'/dashboard.htm?ms=ASA%3D&st=MA%3D%3D&sct=MA%3D%3D&mw=MzIw'" style="width: 100%;height: 500px"></iframe>
      </div>
      <template #footer>
        <div class="float-right">
          <CButton
              color="secondary"
              @click="modalAyuda=false"
              :variant="'outline'"
              class="mx-2"
          >Cancelar
          </CButton>
        </div>
      </template>
    </CModal>
  </div>
</template>

<script>
import MainChartExample from "./charts/MainChartExample";
import WidgetsDropdown from "./widgets/WidgetsDropdown";
import WidgetsBrand from "./widgets/WidgetsBrand";

export default {
  name: "Dashboard",
  components: {
    MainChartExample,
    WidgetsDropdown,
    WidgetsBrand,
  },
  data() {
    return {
      selected: "Month",
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
      tableItems: [
        {
          avatar: {url: "img/avatars/1.jpg", status: "success"},
          user: {
            name: "Yiorgos Avraamu",
            new: true,
            registered: "Jan 1, 2015",
          },
          country: {name: "USA", flag: "cif-us"},
          usage: {value: 50, period: "Jun 11, 2015 - Jul 10, 2015"},
          payment: {name: "Mastercard", icon: "cib-cc-mastercard"},
          activity: "10 sec ago",
        },
        {
          avatar: {url: "img/avatars/2.jpg", status: "danger"},
          user: {
            name: "Avram Tarasios",
            new: false,
            registered: "Jan 1, 2015",
          },
          country: {name: "Brazil", flag: "cif-br"},
          usage: {value: 22, period: "Jun 11, 2015 - Jul 10, 2015"},
          payment: {name: "Visa", icon: "cib-cc-visa"},
          activity: "5 minutes ago",
        },
        {
          avatar: {url: "img/avatars/3.jpg", status: "warning"},
          user: {name: "Quintin Ed", new: true, registered: "Jan 1, 2015"},
          country: {name: "India", flag: "cif-in"},
          usage: {value: 74, period: "Jun 11, 2015 - Jul 10, 2015"},
          payment: {name: "Stripe", icon: "cib-stripe"},
          activity: "1 hour ago",
        },
        {
          avatar: {url: "img/avatars/4.jpg", status: ""},
          user: {name: "Enéas Kwadwo", new: true, registered: "Jan 1, 2015"},
          country: {name: "France", flag: "cif-fr"},
          usage: {value: 98, period: "Jun 11, 2015 - Jul 10, 2015"},
          payment: {name: "PayPal", icon: "cib-paypal"},
          activity: "Last month",
        },
        {
          avatar: {url: "img/avatars/5.jpg", status: "success"},
          user: {
            name: "Agapetus Tadeáš",
            new: true,
            registered: "Jan 1, 2015",
          },
          country: {name: "Spain", flag: "cif-es"},
          usage: {value: 22, period: "Jun 11, 2015 - Jul 10, 2015"},
          payment: {name: "Google Wallet", icon: "cib-google-pay"},
          activity: "Last week",
        },
        {
          avatar: {url: "img/avatars/6.jpg", status: "danger"},
          user: {
            name: "Friderik Dávid",
            new: true,
            registered: "Jan 1, 2015",
          },
          country: {name: "Poland", flag: "cif-pl"},
          usage: {value: 43, period: "Jun 11, 2015 - Jul 10, 2015"},
          payment: {name: "Amex", icon: "cib-cc-amex"},
          activity: "Last week",
        },
      ],
      tableFields: [
        {key: "avatar", label: "", _classes: "text-center"},
        {key: "user"},
        {key: "country", _classes: "text-center"},
        {key: "usage"},
        {key: "payment", label: "Payment method", _classes: "text-center"},
        {key: "activity"},
      ],
    };
  },
  methods: {
    color(value) {
      let $color;
      if (value <= 25) {
        $color = "info";
      } else if (value > 25 && value <= 50) {
        $color = "success";
      } else if (value > 50 && value <= 75) {
        $color = "warning";
      } else if (value > 75 && value <= 100) {
        $color = "danger";
      }
      return $color;
    },
  },
};
</script>
