<template>
  <div>
    <PagoReservacion v-if="listCarrito != null"></PagoReservacion>
    <DashboardCliente v-else></DashboardCliente>
    <div
        style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
        @click="modalAyuda=true">Ayuda?
    </div>
    <CModal
        :show.sync="modalAyuda"
        :footer="false"
        size="xl"
        backdrop="static"
        :visible="modalAyuda"
    >
      <template #header>
        <CModalHeader>
          <CModalTitle>Manual Ayuda</CModalTitle>
        </CModalHeader>
      </template>
      <div class="container-fluid">
        <iframe :src="urlAyuda+'/componente_reservacion_citas.htm?ms=AyBh&st=MA%3D%3D&sct=MTAw&mw=MzIw'"
                style="width: 100%;height: 500px"></iframe>
      </div>
      <template #footer>
        <div class="float-right">
          <CButton
              color="secondary"
              @click="modalAyuda=false"
              :variant="'outline'"
              class="mx-2"
          >Cancelar
          </CButton>
        </div>
      </template>
    </CModal>
  </div>

</template>

<script>
import PagoReservacion from "../../pages/client/PagoReservacion";
import DashboardCliente from "../../Dashboard/cliente/Index";
export default {
  components: { PagoReservacion, DashboardCliente },
  data() {
    return {
      listCarrito: JSON.parse(localStorage.getItem("listCarrito")),
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
    };
  },
  mounted() {
    this.listCarrito = JSON.parse(localStorage.getItem("listCarrito"));
  },
};
</script>

<style></style>
