<template>
<div>
  <form id="payment-form">
    <div id="card-container"></div>
    <button id="card-button" type="button">Pay $1.00</button>
  </form>
  <div id="payment-status-container"></div>
</div>
</template>

<script>
const appId = 'sandbox-sq0idb-t_NugzPZ1BVrRs8LWt90MQ';
const locationId = 'L2ZRQ0G7YQW4V';
async function initializeCard(payments) {
  const card = await payments.card();
  await card.attach('#card-container');
  return card;
}
async function createPayment(token) {
  const body = JSON.stringify({
    locationId,
    sourceId: token,
  });

  const paymentResponse = await fetch('/payment', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body,
  });

  if (paymentResponse.ok) {
    return paymentResponse.json();
  }

  const errorBody = await paymentResponse.text();
  throw new Error(errorBody);
}

async function tokenize(paymentMethod) {
  const tokenResult = await paymentMethod.tokenize();
  if (tokenResult.status === 'OK') {
    return tokenResult.token;
  } else {
    let errorMessage = `Tokenization failed with status: ${tokenResult.status}`;
    if (tokenResult.errors) {
      errorMessage += ` and errors: ${JSON.stringify(
          tokenResult.errors
      )}`;
    }

    throw new Error(errorMessage);
  }
}

// status is either SUCCESS or FAILURE;
function displayPaymentResults(status) {
  const statusContainer = document.getElementById(
      'payment-status-container'
  );
  if (status === 'SUCCESS') {
    statusContainer.classList.remove('is-failure');
    statusContainer.classList.add('is-success');
  } else {
    statusContainer.classList.remove('is-success');
    statusContainer.classList.add('is-failure');
  }

  statusContainer.style.visibility = 'visible';
}

// Checkpoint 2.
async function handlePaymentMethodSubmission(event, paymentMethod) {
  event.preventDefault();
  const cardButton = document.getElementById('card-button');
  try {
    // disable the submit button as we await tokenization and make a payment request.

    cardButton.disabled = true;
    const token = await tokenize(paymentMethod);
    console.log('TOKEN::',token)
    const paymentResults = await createPayment(token);
    displayPaymentResults('SUCCESS');

    console.debug('Payment Success', paymentResults);
  } catch (e) {
    cardButton.disabled = false;
    displayPaymentResults('FAILURE');
    console.error(e.message);
  }
}


export default {
  name: "NuevoPago",
 async  mounted() {

      console.log('INICIALIZANDO PAgo')
      if (!window.Square) {
        throw new Error('Square.js failed to load properly');
      }
      const payments = window.Square.payments(appId, locationId);
      let card;
      try {
        card = await initializeCard(payments);
        console.log(card)
      } catch (e) {
        console.error('Initializing Card failed', e);
        return;
      }

      // Step 5.2: create card payment
   const cardButton = document.getElementById('card-button');
   cardButton.addEventListener('click', async function (event) {
     await handlePaymentMethodSubmission(event, card);
   });
  }
}
</script>

<style scoped>

</style>