<template>
  <div class="container-fluid">
    <CCard>
      <CCardHeader>
        Pago de Servicio
      </CCardHeader>
      <CCardBody>
        <div style="font-size: 14px;text-align: right;padding-bottom: 10px">Registrando ...{{ counter }} segundos</div>
        <div class="row">
          <div class="col-sm-5 mx-auto p-3">
            <div id="form-container" style="display:contents" class="">
              <div id="sq-card-number"></div>
              <div class="third" :id="'sq-expiration-date'"></div>
              <div class="third" id="sq-cvv"></div>
              <div class="third" id="sq-postal-code"></div>
            </div>
            <input :value="monto" disabled hidden id="montotal"/>

            <button
                @click="requestCardNonce($event)"
                id="sq-creditcard"
                class="button-credit-card"
            >
              Pay S/. {{ monto }} soles
            </button>
          </div>
        </div>
      </CCardBody>
    </CCard>
  </div>
</template>

<script>
// Create and initialize a payment form object
const paymentForm = "";
// TODO: paste code from step 1.1.5
//paymentForm.build();
// onGetCardNonce is triggered when the "Pay $1.00" button is clicked

import axios from "axios";
import Swal from "sweetalert2";
import {mapActions,} from "vuex";

export default {
  computed: {
    counter() {
      return this.$store.state.counter.counterPago
    },
  },
  data() {
    return {
      activarModal: false,
      paymentForm: null,
      monto: 100,
      reservacionID: null,
    };
  },

  mounted() {
    var URLsearch = window.location.search;
    let params = new URLSearchParams(URLsearch);
    this.monto = params.get("monto");
    this.reservacionID = params.get("idReservacion");
    let _vm = this;
    this.ReiniciarStados()
    this.initContadorPago()
    this.paymentForm = new SqPaymentForm({
      // Initialize the payment form elements

      //TODO: Replace with your sandbox application ID
      applicationId: "sandbox-sq0idb-t_NugzPZ1BVrRs8LWt90MQ",
      inputClass: "sq-input",
      autoBuild: false,
      // Customize the CSS for SqPaymentForm iframe elements
      inputStyles: [
        {
          fontSize: "16px",
          lineHeight: "24px",
          padding: "16px",
          placeholderColor: "#a0a0a0",
          backgroundColor: "transparent",
        },
      ],
      // Initialize the credit card placeholders
      cardNumber: {
        elementId: "sq-card-number",
        placeholder: "Card Number",
      },
      cvv: {
        elementId: "sq-cvv",
        placeholder: "CVV",
      },
      expirationDate: {
        elementId: "sq-expiration-date",
        placeholder: "MM/YY",
      },
      postalCode: {
        elementId: "sq-postal-code",
        placeholder: "Postal",
      },
      // SqPaymentForm callback functions
      callbacks: {
        /*
         * callback function: cardNonceResponseReceived
         * Triggered when: SqPaymentForm completes a card nonce request
         */
        cardNonceResponseReceived: function (errors, nonce, cardData) {
          if (errors) {
            // Log errors from nonce generation to the browser developer console.
            console.error("Encountered errors:");
            errors.forEach(function (error) {
              console.error("  " + error.message);
            });
            alert(
                "Encountered errors, check browser developer console for more details"
            );
            return;
          }
          let monto = _vm.monto;
          //TODO: Replace alert with code in step 2.1
          // alert(`The generated nonce is:\n${nonce}`);
          axios({
            url: process.env.VUE_APP_BASE_URL+"/pagos/pagarServicio",
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
            data: {
              nonce: nonce,
              monto: monto,
              idReservacion: _vm.reservacionID,
            },
          })
              .then((data) => {
                Swal.close();
                Swal.fire({
                  position: "top-center",
                  icon: "success",
                  showConfirmButton: false,
                  timer: 1500,
                });

                _vm.$toasted.global
                    .appSuccess({
                      mensaje: "pago Relizado",
                    })
                    .goAway(3000);
                console.log(data);
                localStorage.removeItem("listCarrito");
                _vm.$router.push(
                    "/reservacion/reservacion",
                    () => {
                    },
                    () => {
                    }
                );
                _vm.$toasted.global
                    .appSuccess({mensaje: "se realizó el pago correctamente"})
                    .goAway(5000);
              })
              .catch((err) => {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "no se pudo actualizar información",
                });
                _vm.$toasted.global
                    .appError({mensaje: "Error al realizar el pago"})
                    .goAway(5000);
              });
        },
      },
    });
    this.paymentForm.build();
  },
  methods: {
    ...mapActions([
          'initContadorPago', // map `this.increment()` to `this.$store.dispatch('increment')`
          'ReiniciarStados',
        'finContadorPago'
        ]
    ),
    abrirModal() {
      this.activarModal = true;
    },
    cerrarModal() {
      this.activarModal = false;
    },

    requestCardNonce(event) {
      Swal.fire({
        onBeforeOpen: () => {
          Swal.showLoading();
        },
      });
      // Don't submit the form until SqPaymentForm returns with a nonce
      event.preventDefault();
      // Request a nonce from the SqPaymentForm object
      this.paymentForm.requestCardNonce();
    },
  },

};
</script>

<style lang="scss" scoped>
#sq-card-number {
  input {
    background-color: aqua;
  }
}
</style>
