<template
  ><CCard
    ><CCardHeader>Reservaciones</CCardHeader>
    <CCardBody>
      <table class="table table-bordered">
        <thead>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Monto</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="(reservacion, i) in listReservaciones" :key="i">
            <td>
              <div v-if="reservacion.fechaReservacion !== null">
                {{
                  moment(reservacion.fechaReservacion).format(
                    "DD/MM/YYYY hh:mm a"
                  )
                }}
              </div>
            </td>
            <td>
              <div>
                <label
                  class="badge "
                  :class="{
                    'badge-success': reservacion.estado == 1,
                    'badge-primary': reservacion.estado == 2,
                  }"
                  >{{ textEstado(reservacion.estado) }}</label
                >
              </div>
            </td>
            <td>
              <div v-if="reservacion.servicioEmpresa.length > 0">
                S/. {{ monto(reservacion.detalleReservaciones) }} soles
              </div>
            </td>
            <td>
              <div v-if="reservacion.estado == 1">
                <button
                  class="btn btn-sm btn-success"
                  @click="
                    redirect(
                      reservacion.idReservacion,
                      monto(reservacion.detalleReservaciones)
                    )
                  "
                  v-if="
                    reservacion.servicioEmpresa.length > 0 &&
                      reservacion.estado == 1
                  "
                  :monto="monto(reservacion.detalleReservaciones)"
                >
                  Pagar
                </button>
                <button
                  class="btn btn-sm btn-danger"
                  @click="cancelarReservacion(reservacion.idReservacion)"
                >
                  Cancelar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </CCardBody>
  </CCard>
</template>

<script>
import ButtonPagar from "../../../views/pages/client/components/Pago";
import Servicio from "../../../servicio/ReservacionService";
import moment from "moment";
import Swal from "sweetalert2";
export default {
  components: {
    ButtonPagar,
  },
  data() {
    return {
      listReservaciones: [],
    };
  },
  mounted() {
    this.listarReservaciones();
  },
  methods: {
    redirect(reservacionId, monto) {
      console.log(reservacionId);
      console.log(monto);
      this.$router.push(
        "/reservacion/pago?idReservacion=" + reservacionId + "&monto=" + monto,
        () => {},
        () => {}
      );
    },
    async cancelarReservacion(reservacionId) {
      console.log(reservacionId);

      let _vm = this;
      Swal.fire({
        text: "Desea cancelar esta reservacion?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
      }).then(async (result) => {
        if (result.value) {
          console.log(result);
          Swal.fire({
            text: "Eliminando....",
            onBeforeOpen: () => {
              Swal.showLoading();
            },
          });
          let resultEliminar = await Servicio.cancelar(reservacionId);
          if (
            resultEliminar.status === 200 &&
            resultEliminar.statusText === "OK"
          ) {
            Swal.close();
            Swal.fire({
              position: "top-center",
              icon: "success",
              showConfirmButton: false,
              timer: 1500,
            });
            _vm.$toasted.global
              .appSuccess({
                mensaje: "reservacion cancelada",
              })
              .goAway(3000);
            _vm.listarReservaciones();
          }
        }
      });
    },
    monto(listServicios) {
      console.log(listServicios);
      let suma = 0;
      listServicios.forEach((item) => {
        suma += item.monto;
      });
      return suma;
    },
    moment,
    async listarReservaciones() {
      let usuario = JSON.parse(localStorage.getItem("usuario"));

      let list = await Servicio.listar(usuario.id);
      if (list.status == 200) {
        this.listReservaciones = list.data;
        console.log(this.listReservaciones);
      }
    },
    textEstado(estado) {
      switch (estado) {
        case 1:
          return "Pendiente";
          break;
        case 2:
          return "Pagado";
          break;
      }
    },
  },
};
</script>

<style></style>
