<template
  ><div>
    <CCard>
      <CCardHeader>
        Servicios
      </CCardHeader>
      <CCardBody>
        <Crear :refrescarLista="actualizarLista"></Crear>
        <div class="clearfix"></div>
        <div>
          <Tabla :lista="listTabla" :refrescarLista="actualizarLista"></Tabla>
        </div>
      </CCardBody>
    </CCard>
  <div
      style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
      @click="modalAyuda=true">Ayuda?
  </div>
  <CModal
      :show.sync="modalAyuda"
      :footer="false"
      size="xl"
      backdrop="static"
      :visible="modalAyuda"
  >
    <template #header>
      <CModalHeader>
        <CModalTitle>Manual Ayuda</CModalTitle>
      </CModalHeader>
    </template>
    <div class="container-fluid">
      <iframe :src="urlAyuda+'/componente_maestros_servicios.htm?ms=ByBhAQ%3D%3D&st=MA%3D%3D&sct=MjI4&mw=MzIw'"
              style="width: 100%;height: 500px"></iframe>
    </div>
    <template #footer>
      <div class="float-right">
        <CButton
            color="secondary"
            @click="modalAyuda=false"
            :variant="'outline'"
            class="mx-2"
        >Cancelar
        </CButton>
      </div>
    </template>
  </CModal>
  </div>
</template>

<script>
import axiosService from "../../../servicio/ServicioService";
import Crear from "./components/CrearServicio";
import Tabla from "./components/TablaServicio";

export default {
  components: { Crear, Tabla },
  data() {
    return {
      listTabla: [],
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
    };
  },
  mounted() {
    this.listarServicios();
  },
  head: {
    title: { inner: "Servicios" },
  },
  methods: {
    actualizarLista(condicion) {
      if (condicion) {
        this.listarServicios();
      }
    },
    async listarServicios() {
      let resultInfo = await axiosService.listar();
      console.log(resultInfo);
      if (resultInfo.status == 200) {
        this.listTabla = [];
        this.listTabla = resultInfo.data.map((info) => {
          let newInfo = info;
          newInfo.Opciones = "";
          return newInfo;
        });
      }
    },
  },
};
</script>

<style></style>
