<template>
  <div class="container-fluid">
    <CCard>
      <CCardHeader>
        Manuales de Ayudas
      </CCardHeader>
      <CCardBody>
        <div class="row">
          <div class="col-6">
            <label>Manual de usuario</label>
            <hr />
            <div class="container-fluid">
              Seleccionar pdf de usuario
              <div id="dropzoneUsuario" class="dropzone"></div>
            </div>
          </div>
          <div class="col-6">
            <label>Manual del Administrador</label>
            <hr />
            <div class="container-fluid">
              Seleccionar pdf de administrador
              <div id="dropzoneAdministrador" class="dropzone"></div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>#</td>
                <td>Tipo</td>
                <td>Estado</td>
                <td>Descargar</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, i) in manualesList">
                <td>{{ i + 1 }}</td>
                <td>{{ item.nombre }}</td>
                <td>
                  <label v-if="item.status == 1" class="badge badge-success "
                    >Activo</label
                  >
                  <label v-else class="badge badge-danger">Desactivado</label>
                </td>
                <td>
                  <a
                    v-if="item.status == 1"
                    class=""
                    style="display:inline-block;padding:0 10px"
                    @click="confirmarDesactivar(item.id)"
                  >
                    <span class="fa fa-edit" style="color:orange"></span>
                  </a>
                  <a
                    :href="baseUrlArchivo + '/' + item.archivo"
                    target="_blank"
                    download="manuales"
                    ><span class="fa fa-download"></span
                  ></a>
                  <a
                    class=""
                    style="display:inline-block;padding:0 10px"
                    @click="confirmarEliminacion(item.id)"
                  >
                    <span class="fa fa-times" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </CCardBody>
    </CCard>
    <div
        style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
        @click="modalAyuda=true">Ayuda?
    </div>
    <CModal
        :show.sync="modalAyuda"
        :footer="false"
        size="xl"
        backdrop="static"
        :visible="modalAyuda"
    >
      <template #header>
        <CModalHeader>
          <CModalTitle>Manual Ayuda</CModalTitle>
        </CModalHeader>
      </template>
      <div class="container-fluid">
        <iframe :src="urlAyuda+'/componente_manualdetalle.htm?ms=ByBhAw%3D%3D&st=MA%3D%3D&sct=MjI3LjE5OTk5Njk0ODI0MjI%3D&mw=MzIw'"
                style="width: 100%;height: 500px"></iframe>
      </div>
      <template #footer>
        <div class="float-right">
          <CButton
              color="secondary"
              @click="modalAyuda=false"
              :variant="'outline'"
              class="mx-2"
          >Cancelar
          </CButton>
        </div>
      </template>
    </CModal>
  </div>
</template>

<script>
import Servicio from "../../servicio/ManualesService";
import Swal from "sweetalert2";
export default {
  name: "Manual",
  data() {
    return {
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
      manualesList: [],
      baseUrlArchivo: process.env.VUE_APP_BASE_URL,
    };
  },
  methods: {
    async listarManuales() {
      Servicio.listar().then((res) => (this.manualesList = res.data));
    },
    confirmarEliminacion(id) {
      let _vm = this;
      Swal.fire({
        text: "Desea eliminar este Manual?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
      }).then(async (result) => {
        if (result.value) {
          console.log(result);
          Swal.fire({
            text: "Eliminando....",
            onBeforeOpen: () => {
              Swal.showLoading();
            },
          });
          let resultEliminar = await Servicio.eliminar(id);
          if (
            resultEliminar.status === 200 &&
            resultEliminar.statusText === "OK"
          ) {
            Swal.close();
            Swal.fire({
              position: "top-center",
              icon: "success",
              showConfirmButton: false,
              timer: 1500,
            });
            _vm.$toasted.global
              .appSuccess({
                mensaje: "manual eliminado",
              })
              .goAway(3000);
            _vm.listarManuales(true);
          }
        }
      });
    },

    confirmarDesactivar(id) {
      let _vm = this;
      Swal.fire({
        text: "Desea Desactivar este Manual?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
      }).then(async (result) => {
        if (result.value) {
          console.log(result);
          Swal.fire({
            text: "Desactivando....",
            onBeforeOpen: () => {
              Swal.showLoading();
            },
          });
          let resultEliminar = await Servicio.desactivar(id);
          if (
            resultEliminar.status === 200 &&
            resultEliminar.statusText === "OK"
          ) {
            Swal.close();
            Swal.fire({
              position: "top-center",
              icon: "success",
              showConfirmButton: false,
              timer: 1500,
            });
            _vm.$toasted.global
              .appSuccess({
                mensaje: "manual desactivado",
              })
              .goAway(3000);
            _vm.listarManuales(true);
          }
        }
      });
    },
  },
  created() {},
  mounted() {
    this.listarManuales();
    let apiUrlBase = process.env.VUE_APP_BASE_URL + "/manuales";
    let myDropzone = new Dropzone("#dropzoneUsuario", {
      url: apiUrlBase + "?tipo=usuario",
      uploadMultiple: false,
      parallelUploads: 1,
      maxFiles: 1,
      init: function() {
        const _this = this;
        _this.on("maxfilesexceeded", function(file) {
          _this.removeAllFiles();
          _this.addFile(file);
        });
      },
    });
    let myDropzoneAdmin = new Dropzone("#dropzoneAdministrador", {
      url: apiUrlBase + "?tipo=administrador",
      uploadMultiple: false,
      parallelUploads: 1,
      maxFiles: 1,
      init: function() {
        const _this = this;
        _this.on("maxfilesexceeded", function(file) {
          _this.removeAllFiles();
          _this.addFile(file);
        });
      },
    });

    let _vm = this;
    myDropzone.on("complete", function(file, res) {
      if (myDropzone.files[0].status == Dropzone.SUCCESS) {
        _vm.listarManuales();
        setTimeout(() => {
          myDropzone.removeFile(file);
        }, 3000);
      } else {
        console.log("Error al subir archivo");
      }
    });

    myDropzoneAdmin.on("complete", function(file, res) {
      if (myDropzoneAdmin.files[0].status == Dropzone.SUCCESS) {
        _vm.listarManuales();
        setTimeout(() => {
          myDropzoneAdmin.removeFile(file);
        }, 3000);
      } else {
        console.log("Error al subir archivo");
      }
    });
    // console.log(myDropzone);
  },
};
</script>

<style scoped></style>
