<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">

          <div class="col-6">
            <div>PERFIL</div>
            <hr/>
            <div class="d-flex">
              <div style="padding: 10px">
                <img class="logo" @click="setLogo()" :src="baseUrl+'/'+informacionUsuario.foto"
                     v-if="informacionUsuario.foto!=null">
                <img class="logo" @click="setLogo()" src="img/default.png" v-else>
                <input type="file" id="fotoLogo" name="fotoLogo"
                       style="display: none"
                       @change="changeLogo($event)"><br>
                <label v-if="imagenLogoDetalle!=null">{{ imagenLogoDetalle.name }}</label>
              </div>
              <div>
                <div class="form-group">
                  <label>Usuario</label>
                  <input class="form-control form-control-sm" v-model="informacionUsuario.usuario">
                </div>
                <div class="form-group">
                  <label>Clave</label>
                  <input class="form-control form-control-sm" v-model="informacionUsuario.clave">
                </div>
                <div class="form-group">
                  <button class="btn btn-success" @click="actualizarDatosUsuario()">Actualizar Usuario</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div>INFORMACION PERSONAL</div>
            <hr/>
            <div class="form-group">
              <label>DNI</label>
              <input class="form-control form-control-sm" v-model="informacionUsuario.persona.dni">
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input class="form-control form-control-sm" v-model="informacionUsuario.persona.nombre">
            </div>
            <div class="form-group">
              <label>Apellidos</label>
              <input class="form-control form-control-sm" v-model="informacionUsuario.persona.apellido">
            </div>

            <div class="form-group">
              <label>Correo</label>
              <input class="form-control form-control-sm" v-model="informacionUsuario.persona.correo">
            </div>

            <div class="form-group">
              <label>Celular</label>
              <input class="form-control form-control-sm" v-model="informacionUsuario.persona.celular">
            </div>
            <div class="form-group">
              <div class="cardArchivoDni" v-if="informacionUsuario.persona.archivoDni==null"
                   @click="handlesubirImagenesDni()">
                <label>Click aqui para subir imagenes Dni</label>
              </div>
              <div v-else>
                <div class="d-flex" @click="handlesubirImagenesDni()">
                  <img :src="dni" v-for="dni in archivosDni" :key="dni" alt="img" style="height: 150px;width: 50%">
                </div>

              </div>
              <div v-if="listImgDni!=null">
                <div v-for="(item,i) in listImgDni" :key="i">
                  {{ item.name }}
                </div>
              </div>
              <input type="file" id="fileDni" name="fileDni" style="display: none" @change="changeSubirImagenes($event)"
                     multiple>
            </div>
            <div class="form-group " style="text-align: center">
              <button class="btn btn-primary" @click="actualizarInformacion()">Actualizar Informacion</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div
        style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
        @click="modalAyuda=true">Ayuda?
    </div>
    <CModal
        :show.sync="modalAyuda"
        :footer="false"
        size="xl"
        backdrop="static"
        :visible="modalAyuda"
    >
      <template #header>
        <CModalHeader>
          <CModalTitle>Manual Ayuda</CModalTitle>
        </CModalHeader>
      </template>
      <div class="container-fluid">
        <iframe :src="urlAyuda+'/perfilusuario.htm?ms=ByBjBw%3D%3D&st=MA%3D%3D&sct=MzI3LjIwMDAxMjIwNzAzMTI1&mw=MzIw'"
                style="width: 100%;height: 500px"></iframe>
      </div>
      <template #footer>
        <div class="float-right">
          <CButton
              color="secondary"
              @click="modalAyuda=false"
              :variant="'outline'"
              class="mx-2"
          >Cancelar
          </CButton>
        </div>
      </template>
    </CModal>
  </div
  >
</template>
<script>
import UsuarioService from "../../servicio/UsuarioService";
import usuarioService from "../../servicio/UsuarioService";
import PersonaService from "../../servicio/PersonaService";

export default {
  data() {
    return {
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
      baseUrl: process.env.VUE_APP_BASE_URL,
      usuario: null,
      informacionUsuario: {
        foto: null,
        usuario: null, clave: null, persona: {
          dni: '', nombre: '', apellido: ''
        }
      },
      imagenLogoDetalle: null,
      listImgDni: null,
      archivosDni: []
    };
  },
  mounted() {
    let usuarioLocal = localStorage.getItem("usuario");
    this.usuario = JSON.parse(usuarioLocal);
    this.getUsuario();
  },
  methods: {
    actualizarInformacion() {
      let formData = new FormData()
      if (this.listImgDni != null) {
        for (const archivo of this.listImgDni) {
          formData.append("listDni", archivo);
        }
      }

      formData.append('nombre', this.informacionUsuario.persona.nombre)
      formData.append('apellido', this.informacionUsuario.persona.apellido)
      formData.append('dni', this.informacionUsuario.persona.dni)
      formData.append('celular', this.informacionUsuario.persona.celular)
      formData.append('correo', this.informacionUsuario.persona.correo)
      formData.append('fechaNacimiento', this.informacionUsuario.persona.fechaNacimiento)
      formData.append('tipo', this.informacionUsuario.persona.tipo)
      PersonaService.actualizarPersona(this.informacionUsuario.persona.id, formData)
          .then(res => {
            this.getUsuario()
            this.$toasted.global
                .appSuccess({
                  mensaje: "Actualizacion completado",
                })
                .goAway(3000);
            this.archivosDni= []
            this.listImgDni=null
          })
          .catch(error => {
            this.$toasted.global
                .appError({
                  mensaje: "Error al actualizar",
                })
                .goAway(3000);
          })
    },
    changeSubirImagenes(event) {
      this.listImgDni = event.target.files
      console.log(this.listImgDni)
    },
    handlesubirImagenesDni() {
      const filesDni = document.getElementById('fileDni');
      filesDni.click()
    },
    actualizarDatosUsuario() {
      let formData = new FormData()
      if (this.informacionUsuario.usuario.trim().length == 0 && this.informacionUsuario.clave.trim().length == 0) {
        this.$toasted.global
            .appSuccess({
              mensaje: "Servicio completado",
            })
            .goAway(3000);

        return
      }
      if (this.imagenLogoDetalle != null)
        formData.append('foto', this.imagenLogoDetalle)
      formData.append('usuario', this.informacionUsuario.usuario)
      formData.append('clave', this.informacionUsuario.clave)
      usuarioService.actualizarUsuario(this.informacionUsuario.idUsuario, formData)
          .then(result => {
            console.log(result)
            this.getUsuario()
            this.imagenLogoDetalle = null
          })
    },
    changeLogo(event) {
      let file = event.target.files[0]
      this.imagenLogoDetalle = file
    },
    setLogo() {
      const imagenLogo = document.getElementById('fotoLogo');
      imagenLogo.click()
    },
    getUsuario() {
      let id = this.usuario.id;
      UsuarioService.buscarDetalladoUsuarioId(id).then((result) => {
        this.informacionUsuario = result.data;
        console.log(this.informacionUsuario.persona.archivoDni)
        if (this.informacionUsuario.persona.archivoDni != null) {
          console.log(this.informacionUsuario.persona.archivosDni)
          let array = this.informacionUsuario.persona.archivoDni.split('|')
          console.log(array)
          array.forEach(item => {
            let url = this.baseUrl + '/' + item
            this.archivosDni.push(url)
          })
        }
      });
    },
  },
};
</script>

<style>
.cardArchivoDni {
  text-align: center;
  padding: 1rem;
  border: 1px dashed #dddddd;
  border-radius: 10px;
  cursor: pointer;
}

.logo {
  height: 100px;
  width: 100px;
}
</style>
