<template>
  <CNavbar
    expandable="md"
    type="dark"
    style="background-color: #049a27 !important;"
  >
    <CToggler in-navbar @click="collapsed = !collapsed" />
    <CNavbarBrand href="/home">BarberShop</CNavbarBrand>
    <CCollapse :show="collapsed" navbar>
      <!-- Right aligned nav items -->
      <CNavbarNav class="ml-auto">
        <a
          v-if="item.status == 1 && item.nombre == 'usuario'"
          class="link"
          :href="baseUrlArchivo + '/' + item.archivo"
          target="_blank"
          :download="baseUrlArchivo + '/' + item.archivo"
          v-for="(item, i) in manualesList"
          >Manual Ayuda</a
        >
        <router-link class="link" to="/login">Login</router-link>
        <router-link class="link" to="/registrar">Registrar</router-link>
      </CNavbarNav>
    </CCollapse>
  </CNavbar>
</template>
<script>
import Servicio from "../servicio/ManualesService";
export default {
  data() {
    return {
      collapsed: false,
      manualesList: [],
      baseUrlArchivo: process.env.VUE_APP_BASE_URL,
    };
  },
  created() {
    this.listarManuales();
  },
  methods: {
    async listarManuales() {
      Servicio.listar().then((res) => (this.manualesList = res.data));
    },
  },
};
</script>
<style lang="scss">
.link {
  padding: 5px;
  font-size: 15px;
  color: white;
}
</style>
