<template
  ><div>
    <CCard>
      <CCardHeader>
        Empresas
      </CCardHeader>
      <CCardBody>
        <CrearEmpresa :refrescarLista="actualizarLista"></CrearEmpresa>
        <div class="clearfix"></div>
        <div>
          <TablaEmpresa
            :lista="listEmpresas"
            :refrescarLista="actualizarLista"
          ></TablaEmpresa>
        </div>
      </CCardBody>
    </CCard>
  <div
      style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
      @click="modalAyuda=true">Ayuda?
  </div>
  <CModal
      :show.sync="modalAyuda"
      :footer="false"
      size="xl"
      backdrop="static"
      :visible="modalAyuda"
  >
    <template #header>
      <CModalHeader>
        <CModalTitle>Manual Ayuda</CModalTitle>
      </CModalHeader>
    </template>
    <div class="container-fluid">
      <iframe :src="urlAyuda+'/componente_negocio_empresas.htm?ms=AyAh&st=MA%3D%3D&sct=MA%3D%3D&mw=MzIw'" style="width: 100%;height: 500px"></iframe>
    </div>
    <template #footer>
      <div class="float-right">
        <CButton
            color="secondary"
            @click="modalAyuda=false"
            :variant="'outline'"
            class="mx-2"
        >Cancelar
        </CButton>
      </div>
    </template>
  </CModal>
  </div>
</template>

<script>
import empresaService from "../../../servicio/EmpresaService";
import CrearEmpresa from "./components/CrearEmpresa";
import TablaEmpresa from "./components/TablaEmpresa";

export default {
  components: { CrearEmpresa, TablaEmpresa },
  data() {
    return {
      listEmpresas: [],
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
    };
  },
  mounted() {
    this.listarEmpresas();
  },
  head: {
    title: { inner: "Empresas" },
  },
  methods: {
    actualizarLista(condicion) {
      if (condicion) {
        this.listarEmpresas();
      }
    },
    async listarEmpresas() {
      let resultEmpresas = await empresaService.listarEmpresa();

      if (resultEmpresas.status == 200) {
        this.listEmpresas = [];
        this.listEmpresas = resultEmpresas.data.map((empresa) => {
          let newEmpresa = empresa;
          newEmpresa.Opciones = "";
          return newEmpresa;
        });
      }
    },
  },
};
</script>

<style></style>
