<template
  ><div>
    <CCard>
      <CCardHeader>
        Empleados
      </CCardHeader>
      <CCardBody>
        <CrearEmpleado :refrescarLista="actualizarLista"></CrearEmpleado>
        <div class="clearfix"></div>
        <div>
          <TablaEmpleado
            :lista="listEmpleado"
            :refrescarLista="actualizarLista"
          ></TablaEmpleado>
        </div>
      </CCardBody>
    </CCard>
  <div
      style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
      @click="modalAyuda=true">Ayuda?
  </div>
  <CModal
      :show.sync="modalAyuda"
      :footer="false"
      size="xl"
      backdrop="static"
      :visible="modalAyuda"
  >
    <template #header>
      <CModalHeader>
        <CModalTitle>Manual Ayuda</CModalTitle>
      </CModalHeader>
    </template>
    <div class="container-fluid">
      <iframe :src="urlAyuda+'/componente_negocio_empleados.htm?ms=AyAh&st=MA%3D%3D&sct=MA%3D%3D&mw=MzIw'"
              style="width: 100%;height: 500px"></iframe>
    </div>
    <template #footer>
      <div class="float-right">
        <CButton
            color="secondary"
            @click="modalAyuda=false"
            :variant="'outline'"
            class="mx-2"
        >Cancelar
        </CButton>
      </div>
    </template>
  </CModal>
  </div>
</template>

<script>
import empleadoService from "../../../servicio/EmpleadoService";
import CrearEmpleado from "./components/CrearEmpleado";
import TablaEmpleado from "./components/TablaEmpleados";

export default {
  components: { CrearEmpleado, TablaEmpleado },
  data() {
    return {
      listEmpleado: [],
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
    };
  },
  mounted() {
    this.listarEmpleados();
  },
  head: {
    title: { inner: "Empleados" },
  },
  methods: {
    eliminar(id) {
      console.log("elminar " + id);
    },
    actualizarLista(condicion) {
      if (condicion) {
        this.listarEmpleados();
      }
    },
    async listarEmpleados() {
      let resultEmpleado = await empleadoService.listarEmpelados();

      if (resultEmpleado.status == 200) {
        this.listEmpleado = [];
        this.listEmpleado = resultEmpleado.data.map((empleado) => {
          let newEmpleado = empleado;
          newEmpleado.Opciones = "<button>Editar</button>";
          return newEmpleado;
        });
      }
    },
  },
};
</script>

<style></style>
