<template>
  <CCard>
    <CCardHeader>Reservación</CCardHeader>
    <CCardBody>
      <div style="font-size: 14px;text-align: right;padding-bottom: 10px">Registrando ...{{ counter }} segundos</div>

      <div class="row mt-4">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
          <table class="table table-responsive  table-bordered">
            <thead>
            <th>Empresa</th>
            <th>Servicio</th>
            <th>Tamaño</th>
            <th>Lugar</th>
            <th>empleado</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Monto</th>
            </thead>
            <tbody>
            <tr v-for="(item, i) in listCarrito" :key="i">
              <td>
                <div style="min-width: 100px">{{ item.nombreEmpresa }}</div>
              </td>
              <td>
                <div style="display:flex">
                  <div style="display:flex;width:100%">
                    <div class="mx-2">
                      <img
                          v-if="item.imagenServicio === null"
                          class="rounded"
                          style="width:100px"
                          height="50"
                          src="../../../../assets/img/default.png"
                      />
                      <img
                          v-else
                          :src="baseUrl + '/'+item.imagenServicio"
                          class="rounded"
                          height="50"
                          style="width:100px"
                      />
                    </div>
                    <div>
                      <div>Descripcion : {{ item.descripcion }}</div>
                      <div>Tiempo : {{ item.tiempo }} horas</div>

                    </div>
                  </div>
                </div>
              </td>
              <td> {{ tipoCliente(item.servicio.tipoSexo) }}</td>
              <td>
                <div>{{ lugarServicios(item.servicio.lugarServicio) }}
                </div>
                <div v-if="item.servicio.lugarServicio==2">
                  <input class="form-control" placeholder="Direccion" v-model="direccion"></div>
              </td>
              <td>
                <div style="min-width: 100px">

                  <select class="form form-control" v-model="item.idEmpleado">
                    <option></option>
                    <option v-for="(empleado,i) in filtrarEmpleadosxEmpresa(item.idEmpresa)"
                            :key="i"
                            :value="empleado.IdEmpleado"
                    >
                      {{ empleado.Nombre + " " + empleado.Apellido }}
                    </option>
                  </select>
                </div>
              </td>
              <td>
                <div style="width:80px">S/. {{ item.precio }} soles</div>
              </td>
              <td>
                <div style="width:80px">{{ item.cantidad }} unidades</div>
              </td>
              <td>
                <div style="width:80px">S/. {{ item.monto }} soles</div>
              </td>
            </tr>
            <tr>
              <td colspan="4" style="text-align:end;width:100%"></td>
              <td style="width:100%">Subtotal</td>
              <td style="width:100%">S/. {{ calcularMoonto }} soles</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 mx-auto">
          <div class="form-group mb-2">
            <label class="mb-0">Fecha de reservación</label>
            <a-date-picker
                format="DD/MM/YYYY hh:mm:ss a"
                :disabled-date="disabledDate"
                :show-time="{ defaultValue: moment('00:00:00', 'hh:mm:ss a') }"
                class="form-control form-control-sm"
                placeholder="Seleccionar fecha y hora"
                v-model="fechaReservacion"
            />
          </div>
          <div class="form-group my-3 d-flex justify-content-center">
            <button
                class="btn btn-sm btn-danger"
                @click="cancelarReservacion()"
            >
              Cancelar
            </button>
            <button
                class="btn btn-sm btn-success"
                @click="registrarReservacion()"
            >
              Registrar
            </button>
          </div>
        </div>
      </div>
    </CCardBody>
  </CCard>
</template>

<script>

import moment from "moment";
import Servicio from "../../../../servicio/ReservacionService";
import empleadoServicio from "../../../../servicio/EmpleadoService";
import {mapActions,} from "vuex";

export default {
  data() {
    return {
      fechaReservacion: null,
      baseUrl: process.env.VUE_APP_BASE_URL,
      listCarrito: JSON.parse(localStorage.getItem("listCarrito")),
      subtotal: "",
      direccion: '',
      empleados: [],
    };
  },
  computed: {
    counter() {
      return this.$store.state.counter.counterReservacion
    },
    calcularMoonto() {
      let suma = 0;
      this.listCarrito.forEach((item) => {
        item.mostrarEmpleados = false
        item.idEmpleado = null
        suma += item.cantidad * item.precio;
      });
      return suma;
    },
  },
  mounted() {
    this.cargarEmpleados()

  },
  methods: {
    ...mapActions([
          'finContadorReservacion', // map `this.increment()` to `this.$store.dispatch('increment')`
        ]
    ),
    tipoCliente(cliente) {
      if (cliente == 1) {
        return "Pequeño";
      }
      if (cliente == 2) {
        return "Mediana";
      }
      if (cliente == 3) {
        return "Grande";
      }
    },

    lugarServicios(lugar) {
      if (lugar == "1") {
        return "Lugar del Negocio";
      }
      if (lugar == "2") {
        return "Lugar del Cliente";
      }
    },
    filtrarEmpleadosxEmpresa(empresaId) {
      let list = this.empleados.filter((item) => {
        console.log(item)
        if (item.IdEmpresa == empresaId)
          return true
        else
          return false
      });
      console.log(list)
      return list


    },

    cambiarEstadoListEmpleado(index, estado) {

      this.listCarrito[index].mostrarEmpleados = !estado
      let list = this.listCarrito
      this.listCarrito = []
      this.listCarrito = list
      console.log(this.listCarrito[index].mostrarEmpleados)
    },
    async cargarEmpleados() {
      let empleadosList = await empleadoServicio.listarEmpelados();
      console.log(empleadosList)
      this.empleados = empleadosList.data;

    },
    async registrarReservacion() {
      let fecha = this.fechaReservacion;
      console.log(fecha);
      if (fecha !== null) {
        console.log(this.fechaReservacion);
        let usuario = JSON.parse(localStorage.getItem("usuario"));
        let listCarrito = this.listCarrito;
        let tiempoTranscurrido = this.counter
        let data = {
          fechaReservacion: fecha,
          idUsuario: usuario.id,
          listCarrito,
          direccion: this.direccion,
          tiempoTranscurrido: tiempoTranscurrido
        };
        console.log(data)
        let resultReservacion = await Servicio.registrar(data);
        console.log(resultReservacion);
        if (
            resultReservacion.status == 200 &&
            resultReservacion.statusText == "OK"
        ) {
          this.finContadorReservacion()
          this.$toasted.global
              .appSuccess({
                mensaje: "se registro reservacion",
              })
              .goAway(5000);
          localStorage.removeItem("listCarrito");
          this.$router.push(
              "reservacion",
              () => {
              },
              () => {
              }
          );
        } else {
          this.$toasted.global
              .appError({
                mensaje: "error en el servidor",
              })
              .goAway(5000);
        }
      } else {
        this.$toasted.global
            .appError({
              mensaje: "seleccione fecha para la reservación",
            })
            .goAway(5000);

      }

    },
    cancelarReservacion() {
      localStorage.removeItem("listCarrito");
      this.$router.push(
          "/reservacion/catalogo",
          () => {
          },
          () => {
          }
      );
    },
    moment,
    range(start, end) {
      const result = [];
      for (let i = start; i < end; i++) {
        result.push(i);
      }
      return result;
    },

    disabledDate(current) {
      // Can not select days before today and today
      return current && current < moment().endOf("day");
    },

    finalizarReservacion() {
      this.$router.push(
          "/home/reservacion",
          () => {
          },
          () => {
          }
      );
    },
    actualizarMonto(i, evt) {
      let item = this.listCarrito[i];
      item.cantidad = evt.target.value;
      item.monto = item.cantidad * item.precio;
      localStorage.setItem("listCarrito", JSON.stringify(this.listCarrito));
      console.log(item);
    },
    quitarItem(i) {
      this.listCarrito.splice(i, 1);
    },
    cancelar() {
      localStorage.removeItem("listCarrito");
      this.$router.push(
          "/home",
          () => {
          },
          () => {
          }
      );
    },
    agregar(id) {
      this.$router.push(
          "/home/empresa/" + id,
          () => {
          },
          () => {
          }
      );
    },
  },
};
</script>

<style></style>
