<template>
  <div class="card">
    <div class="card-header content-center text-white p-0 bg-light">
      <div class="c-chart-brand">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <img
          v-if="informacion.imagenServicio === null"
          src="../../../../assets/img/default.png"
          height="100"
          class=""
          style="width:100%"
        />
        <img
          v-else
          :src="baseUrl + '/' + informacion.imagenServicio"
          height="100"
          class=""
          style="width:100%"
        />
      </div>
    </div>
    <div class="card-body row text-center">
      <div class="col">
        <div class="text-value-sm">Precio</div>
        <div class="text-uppercase text-muted small">
          S/. {{ informacion.precio }} soles
        </div>
        <br />
        <div class="text-value-sm">Tamaño</div>
        <div class="text-uppercase text-muted small">
          {{ tamanio(informacion.servicio.tipoSexo) }}
        </div>
      </div>
      <div class="c-vr"></div>
      <div class="col">
        <div class="text-value-sm">Tiempo</div>
        <div class="text-uppercase text-muted small">
          {{ informacion.tiempo }} horas
        </div>
        <br />
        <div class="text-value-sm">Lugar</div>
        <div class="text-uppercase text-muted small">
          {{ lugarServicios(informacion.servicio.lugarServicio) }}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <ButtonAgregar
        :servicio="informacion"
        :idEmpresa="idEmpresa"
        :idServicio="idServicio"
        :nombreEmpresa="nombreEmpresa"
      ></ButtonAgregar>
    </div>
  </div>
</template>

<script>
import ButtonAgregar from "./BtnAgregar";
export default {
  data() {
    return {
      baseUrl: process.env.VUE_APP_BASE_URL,
    };
  },
  methods: {
    tamanio(cliente) {
      if (cliente == 1) {
        return "Pequeño";
      }
      if (cliente == 2) {
        return "Mediana";
      }
      if (cliente == 3) {
        return "Grande";
      }
    },

    lugarServicios(lugar) {
      if (lugar == "1") {
        return "Lugar del Negocio";
      }
      if (lugar == "2") {
        return "Lugar del Cliente";
      }
    },
  },
  components: { ButtonAgregar },
  props: ["informacion", "idEmpresa", "idServicio", "nombreEmpresa"],
};
</script>

<style></style>
