<template>
  <div>
    <button class="bn btn-sm btn-success" @click="abrirModal()">Pagar</button>
    <CModal
      title="Pagar servicio"
      color="primary"
      :show.sync="activarModal"
      :footer="false"
    >
      <div>
        <div id="sq-ccbox">
          <!--
      You should replace the action attribute of the form with the path of
      the URL you want to POST the nonce to (for example, "/process-card")
    -->
          <form
            id="nonce-form"
            novalidate
            action="path/to/payment/processing/page"
            method="post"
          >
            <div id="card-tainer">
              <div class="cardfields card-number" :id="id + '-sq-card-number'">
                o
              </div>
              <div
                class="cardfields expiration-date"
                :id="id + '-sq-expiration-date'"
              >
                e
              </div>
              <div class="cardfields cvv" :id="id + '-sq-cvv'">e</div>
              <div class="cardfields postal-code" :id="id + '-sq-postal-code'">
                e
              </div>
            </div>

            <input type="hidden" id="card-nonce" name="nonce" />
            <div id="sq-walletbox">
              <div v-show="!applePay" class="wallet-not-enabled">
                Apple Pay for Web not enabled
              </div>
              <!-- Placeholder for Apple Pay for Web button -->
              <button
                v-show="applePay"
                :id="id + '-sq-apple-pay'"
                class="button-apple-pay"
              ></button>

              <div v-show="!masterpass" class="wallet-not-enabled">
                Masterpass not enabled
              </div>
              <!-- Placeholder for Masterpass button -->
              <button
                v-show="masterpass"
                :id="id + '-sq-masterpass'"
                class="button-masterpass"
              ></button>
            </div>
          </form>
        </div>
      </div>

      <input :value="monto" disabled hidden id="montotal" />

      <template #footer>
        <button
          @click="requestCardNonce($event)"
          class="productPurchase payButton"
        >
          Pay S/. {{ monto }} soles
        </button>
      </template>
    </CModal>
  </div>
</template>

<script>
// Create and initialize a payment form object
const paymentForm = new SqPaymentForm({
  // Initialize the payment form elements

  //TODO: Replace with your sandbox application ID
  applicationId: "sandbox-sq0idb-oSuL51t6b3vM3mBO5sqYgg",
  inputClass: "sq-input",
  autoBuild: false,
  // Customize the CSS for SqPaymentForm iframe elements
  inputStyles: [
    {
      fontSize: "16px",
      lineHeight: "24px",
      padding: "16px",
      placeholderColor: "#a0a0a0",
      backgroundColor: "transparent",
    },
  ],
  // Initialize the credit card placeholders
  cardNumber: {
    elementId: "sq-card-number",
    placeholder: "Card Number",
  },
  cvv: {
    elementId: "sq-cvv",
    placeholder: "CVV",
  },
  expirationDate: {
    elementId: "sq-expiration-date",
    placeholder: "MM/YY",
  },
  postalCode: {
    elementId: "sq-postal-code",
    placeholder: "Postal",
  },
  // SqPaymentForm callback functions
  callbacks: {
    /*
     * callback function: cardNonceResponseReceived
     * Triggered when: SqPaymentForm completes a card nonce request
     */
    cardNonceResponseReceived: function(errors, nonce, cardData) {
      if (errors) {
        // Log errors from nonce generation to the browser developer console.
        console.error("Encountered errors:");
        errors.forEach(function(error) {
          console.error("  " + error.message);
        });
        alert(
          "Encountered errors, check browser developer console for more details"
        );
        return;
      }
      let monto = document.getElementById("montotal").value;
      //TODO: Replace alert with code in step 2.1
      // alert(`The generated nonce is:\n${nonce}`);
      fetch("http://localhost:4000/pagos/pagarServicio", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          nonce: nonce,
          monto: monto,
        }),
      })
        .catch((err) => {
          alert("Network error: " + err);
        })
        .then((response) => {
          if (!response.ok) {
            return response
              .text()
              .then((errorInfo) => Promise.reject(errorInfo));
          }
          return response.text();
        })
        .then((data) => {
          console.log(JSON.stringify(data));
          localStorage.removeItem("listCarrito");
          this.$router.push(
            "/reservacion",
            () => {},
            () => {}
          );
          this.$global
            .appSuccess({ mensaje: "se realizó el pago correctamente" })
            .goAway(5000);
        })
        .catch((err) => {
          console.error(err);
          this.$global
            .appError({ mensaje: "Error al realizar el pago" })
            .goAway(5000);
        });
    },
  },
});

// TODO: paste code from step 1.1.5
paymentForm.build();
// onGetCardNonce is triggered when the "Pay $1.00" button is clicked

export default {
  data() {
    return {
      activarModal: false,
    };
  },
  props: { monto: { required: true } },
  methods: {
    abrirModal() {
      this.activarModal = true;
    },
    cerrarModal() {
      this.activarModal = false;
    },

    onGetCardNonce(event) {
      // Don't submit the form until SqPaymentForm returns with a nonce
      event.preventDefault();
      // Request a nonce from the SqPaymentForm object
      paymentForm.requestCardNonce();
    },
  },
};
</script>
