<template
>
  <div>
    <CCard>
      <CCardHeader>
        Propietarios
      </CCardHeader>
      <CCardBody>
        <CrearPropietario :refrescarLista="actualizarLista"></CrearPropietario>
        <div class="clearfix"></div>
        <div>
          <TablaPropietario
              :lista="listPropietario"
              :refrescarLista="actualizarLista"
          ></TablaPropietario>
        </div>
      </CCardBody>
    </CCard>
    <div
        style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
        @click="modalAyuda=true">Ayuda?
    </div>
    <CModal
        :show.sync="modalAyuda"
        :footer="false"
        size="xl"
        backdrop="static"
        :visible="modalAyuda"
    >
      <template #header>
        <CModalHeader>
          <CModalTitle>Manual Ayuda</CModalTitle>
        </CModalHeader>
      </template>
      <div class="container-fluid">
        <iframe :src="urlAyuda+'/componente_negocio_propietarios.htm?ms=AyAh&st=MA%3D%3D&sct=MA%3D%3D&mw=MzIw'"
                style="width: 100%;height: 500px"></iframe>
      </div>
      <template #footer>
        <div class="float-right">
          <CButton
              color="secondary"
              @click="modalAyuda=false"
              :variant="'outline'"
              class="mx-2"
          >Cancelar
          </CButton>
        </div>
      </template>
    </CModal>
  </div>
</template>

<script>
import propietarioService from "../../../servicio/PropietarioService";
import CrearPropietario from "./components/CrearPropietario";
import TablaPropietario from "./components/TablaPropietario";

export default {
  components: {CrearPropietario, TablaPropietario},
  data() {
    return {
      listPropietario: [],
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
    };
  },
  mounted() {
    this.listarPropietarios();
  },
  head: {
    title: {inner: "Propietarios"},
  },
  methods: {
    actualizarLista(condicion) {
      if (condicion) {
        this.listarPropietarios();
      }
    },
    async listarPropietarios() {
      let resultPropietarios = await propietarioService.listarPropietario();

      if (resultPropietarios.status == 200) {
        this.listPropietario = [];
        this.listPropietario = resultPropietarios.data.map((propietario) => {
          let newPropietario = propietario;
          newPropietario.Opciones = "<button>Editar</button>";
          return newPropietario;
        });
      }
    },
  },
};
</script>

<style></style>
