<template>
  <div class="container-fluid mt-4">
    <CCard>
      <CCardHeader>
        Lista de servicios añadidos
      </CCardHeader>
      <CCardBody>
        <div style="font-size: 14px;text-align: right;padding-bottom: 10px">Registrando ...{{counter}} segundos</div>
        <TablaCarrito></TablaCarrito>
      </CCardBody>
    </CCard>
  </div>
</template>

<script>
import TablaCarrito from "./components/TablaCarrito";
import {mapState} from "vuex";
export default {
  components: {
    TablaCarrito,
  },
  computed:{
    counter(){
      return this.$store.state.counter.counterReservacion
    }
  }
};
</script>

<style></style>
