<template
>
  <div>
    <div class="mt-3">
      <CardEmpresa></CardEmpresa>
    </div>
    <div
        style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
        @click="modalAyuda=true">Ayuda?
    </div>
    <CModal
        :show.sync="modalAyuda"
        :footer="false"
        size="xl"
        backdrop="static"
    >
      <template #header>
        <CModalHeader>
          <CModalTitle>Manual Ayuda</CModalTitle>
        </CModalHeader>
      </template>
      <div class="container-fluid">
        <iframe :src="urlAyuda+'/inicio.htm?ms=ASA%3D&st=MA%3D%3D&sct=MA%3D%3D&mw=MzIw'" style="width: 100%;height: 500px"></iframe>
      </div>
      <template #footer>
        <div class="float-right">
          <CButton
              color="secondary"
              @click="modalAyuda=false"
              :variant="'outline'"
              class="mx-2"
          >Cancelar
          </CButton>
        </div>
      </template>
    </CModal>
  </div>


</template>

<script>
import usuarioService from "../../../servicio/UsuarioService";
import CardEmpresa from "./components/CardEmpresa";

export default {
  components: {CardEmpresa},
  name: "VistaPrincipal",
  mounted() {
    this.verificarLogin();
  },
  data() {
    return {
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
    }
  },
  methods: {
    async verificarLogin() {
      let token = localStorage.getItem("tokenAuth");
      if (token !== null) {
        let verificar = await usuarioService.verificarAutenticacion();
        if (verificar.status == 200 && verificar.statusText === "OK") {
          this.$router.push(
              "/dashboard",
              () => {
              },
              () => {
              }
          );
        }
      } else {
        this.$router.push(
            "/home",
            () => {
            },
            () => {
            }
        );
      }
    },
  },
};
</script>

<style></style>
