<template>
  <div class="container-fluid">
    <CCard>
      <CCardHeader>
        Reporte Pedidos
      </CCardHeader>
      <CCardBody>
        <div>Tiempo Procesamiento {{ counter }} ...</div>
        <div class="row">
          <div class="col-12 col-sm-4">
            <a-date-picker
              format="DD/MM/YYYY"
              class="form-control form-control-sm"
              placeholder="Seleccionar fecha Inicio"
              v-model="fechaInicio"
            />
          </div>
          <div class="col-12 col-sm-4">
            <a-date-picker
              format="DD/MM/YYYY"
              class="form-control form-control-sm"
              placeholder="Seleccionar fecha Fin"
              v-model="fechaFin"
            />
          </div>
          <div class="col-12 col-sm-4">
            <button class="btn btn-sm btn-success" @click="filtrarInformacion">
              Filtrar
            </button>
            <button class="btn btn-sm btn-primary" @click="generarPDF">
              <span class="fa fa-download"></span>PDF
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mt-3" style="overflow: auto;width: 500px">
            <h3>Gr&aacute;fico</h3>
            <chart-bar
              :chart-data="ordersPerformanceChart"
              :options="chartOptions"
              :height="140"
            ></chart-bar>
          </div>
          <div class="col-6 mt-3" style="overflow: auto;max-width: 500px">
            <h3>Cuadro Resumen</h3>
            <div class="position-relative table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th style="width: 50px">#</th>
                    <th style="width: 300px">Empresa</th>
                    <th style="width: 100px">Pedidos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, i) in listResumen" :key="i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.razonSocial }}</td>
                    <td>{{ item.cantidad }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-12 mt-3">
            <div class="position-relative table-responsive">
              <table
                class="table table-hover table-striped "
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th class="position-relative pr-4">#</th>
                    <th class="position-relative pr-4">Nombre Servicio</th>
                    <th class="position-relative pr-4">Descripcion</th>
                    <th class="position-relative pr-4">Imagen</th>
                    <th class="position-relative pr-4">Empresa</th>
                    <th class="position-relative pr-4">Nro Pedidos</th>
                    <th class="position-relative pr-4">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, i) in list" :key="i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.nombre_servicio }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>
                      <img
                        :src="baseUrl + '/' + item.imagenServicio"
                        style="width: 50px;height: 50px;border-radius: 10px;border: 1px solid black"
                      />
                    </td>

                    <td>{{ item.razonSocial }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>S/.{{ item.monto }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5" style="text-align: right">TOTAL</td>
                    <td>{{ footerTable.cantidad }}</td>
                    <td>{{ footerTable.monto }}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </CCardBody>
    </CCard>
    <div
      style="right: 10px;position:absolute;top:50%;background: #3c78aa;border-radius: 20px;cursor:pointer;padding: 10px;color: white"
      @click="modalAyuda = true"
    >
      Ayuda?
    </div>
    <CModal
      :show.sync="modalAyuda"
      :footer="false"
      size="xl"
      :visible="modalAyuda"
    >
      <template #header>
        <CModalHeader>
          <CModalTitle>Manual Ayuda</CModalTitle>
        </CModalHeader>
      </template>
      <div class="container-fluid">
        <iframe
          :src="
            urlAyuda +
              '/pedidos.htm?ms=ByBhBw%3D%3D&st=MA%3D%3D&sct=MzI3LjIwMDAxMjIwNzAzMTI1&mw=MzIw'
          "
          style="width: 100%;height: 500px"
        ></iframe>
      </div>
      <template #footer>
        <div class="float-right">
          <CButton
            color="secondary"
            @click="modalAyuda = false"
            :variant="'outline'"
            class="mx-2"
            >Cancelar
          </CButton>
        </div>
      </template>
    </CModal>
  </div>
</template>
<script>
import moment from "moment";
import reporteService from "@/servicio/reports.service";
import ChartBar from "@/components/charts/Line";
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;
export default {
  name: "REPORTE_PEDIDO",
  components: {
    ChartBar,
  },
  data() {
    return {
      urlAyuda: process.env.VUE_APP_URL_AYUDA,
      modalAyuda: false,
      moment: moment,
      fechaInicio: null,
      fechaFin: null,
      list: [],
      listResumen: [],
      dataChart: [],
      footerTable: { cantidad: 0, monto: 0 },
      baseUrl: process.env.VUE_APP_BASE_URL,
      chartOptions: {
        scales: {
          xAxes: [
            {
              gridLines: {
                drawOnChartArea: false,
              },
            },
          ],
          yAxes: [
            {
              gridLines: {
                drawOnChartArea: true,
              },
              ticks: {
                beginAtZero: true,
                callback: function(value) {
                  if (value % 1 === 0) {
                    return value;
                  }
                },
              },
            },
          ],
        },
        responsive: true,
        tooltips: {
          titleFontSize: 20,
          bodyFontSize: 25,
        },
        animations: {
          tension: {
            duration: 1000,
            easing: "linear",
            from: 1,
            to: 0,
            loop: true,
          },
        },
        legend: {
          display: false,
        },
        events: ["mousemove", "mouseout", "click", "touchstart", "touchmove"],
      },
      ordersPerformanceChart: {
        labels: [],
        datasets: [
          {
            lineTension: 0,
            label: "Pedidos diario",
            data: [10, 50, 100, 500, 250],
          },
        ],
      },
    };
  },
  watch: {
    fechaInicio() {
      this.$store.dispatch("defaultCounterReportePedido");
      this.$store.dispatch("initContadorReportePedido");
      this.$store.dispatch("incrementCounterReportePedido");
    },
  },
  computed: {
    counter() {
      return this.$store.state.counter.counterReportePedido;
    },
  },
  methods: {
    getResumenDiarios(fIni, fFin) {
      reporteService
        .resumen_pedidos_diarios(fIni, fFin)
        .then((res) => {
          this.listResumen = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getPedidosDiarios(fIni, fFin) {
      this.dataChart = [];
      reporteService
        .pedidos_diarios(fIni, fFin)
        .then((res) => {
          const { status, data } = res;
          if (status == 200) {
            this.dataChart = data;
            let labels = [];
            let newData = [];
            this.dataChart.forEach((item) => {
              labels.push(item.dia);
              newData.push(item.cantidad_dia);
            });

            this.ordersPerformanceChart = {
              labels: labels,
              datasets: [
                {
                  label: "Pedidos ",
                  pointHitRadius: 70,
                  borderColor: "#1752F0",
                  backgroundColor: "#dee5fd",
                  borderWidth: 0,
                  hoverBorderWidth: 0,
                  pointRadius: 0,
                  data: newData,
                },
              ],
            };
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getListPedidos(fIni, fFin) {
      this.list = [];
      this.footerTable.cantidad = 0;
      this.footerTable.monto = 0.0;
      reporteService
        .pedidos(fIni, fFin)
        .then((res) => {
          const { status, data } = res;
          if (status == 200) {
            this.list = data;
            data.forEach((item) => {
              this.footerTable.cantidad += item.cantidad;
              this.footerTable.monto += item.monto;
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtrarInformacion() {
      const fIni = this.fechaInicio.format("YYYY-MM-DD");
      const fFin = this.fechaFin.format("YYYY-MM-DD");
      this.getPedidosDiarios(fIni, fFin);
      this.getListPedidos(fIni, fFin);
      this.getResumenDiarios(fIni, fFin);
      this.$store.dispatch("finContadorReportePedido");
    },
    disabledDate(current) {
      // Can not select days before today and today
      return current && current < moment().endOf("day");
    },
    generarPDF() {
      // playground requires you to assign document definition to a variable called dd
      let baseUrl=process.env.VUE_APP_BASE_URL
      let informacion = [...this.list];
      let resumen = [...this.listResumen];
      let pdfDataResumen = resumen.map((item) => {
        let object = [
          {
            text: item.razonSocial,
          },
          {
            text: item.cantidad,
          },

        ];
        return object;
      });
      let pdfData = informacion.map((item) => {
        let object = [
          {
            text: item.nombre_servicio,
          },
          {
            text: item.descripcion,
          },

          {
            text: item.razonSocial,
          },
          {
            text: item.cantidad,
          },
          {
            text: item.monto,
          },
        ];
        return object;
      });
      var dd = {
        content: [
          { text: "REPORTE DE PEDIDOS", style: ["textCenter"] },
          { text: "CUADRO RESUMEN"  },
          {
            style: "tableExample",
            table: {
              body: [
                [
                  {
                    text: "Empresa",
                    fillColor: "#eeeeee",
                    border: [false, false, false, false],
                  },
                  {
                    text: "Pedidos",
                    fillColor: "#eeeeee",
                    border: [false, false, false, false],
                  },
                ],
               ...pdfDataResumen
                // [
                //   {
                //     rowSpan: 3,
                //     text: "rowSpan: 3\n\nborder:\n[false, false, false, false]",
                //     fillColor: "#eeeeee",
                //     border: [false, false, false, false],
                //   },
                //   "border:\nundefined",
                //   "border:\nundefined",
                // ],
                // ["", "border:\nundefined", "border:\nundefined"],
                // ["", "border:\nundefined", "border:\nundefined"],
              ],
            },
          },
          { text: "REPORTE DETALLADO" },
          {
            style: "tableExample",
            table: {
              body: [
                [
                  {
                    text: "NOMBRE SERVICIO",
                    fillColor: "#eeeeee",
                    border: [false, false, false, false],
                  },
                  {
                    text: "DESCRIPCION",
                    fillColor: "#eeeeee",
                    border: [false, false, false, false],
                  },

                  {
                    text: "EMPRESA",
                    fillColor: "#eeeeee",
                    border: [false, false, false, false],
                  },
                  {
                    text: "NRO PEDIDOS",
                    fillColor: "#eeeeee",
                    border: [false, false, false, false],
                  },
                  {
                    text: "TOTAL",
                    fillColor: "#eeeeee",
                    border: [false, false, false, false],
                  },
                ],
                ...pdfData,
                // [
                //   {
                //     rowSpan: 3,
                //     text: "rowSpan: 3\n\nborder:\n[false, false, false, false]",
                //     fillColor: "#eeeeee",
                //     border: [false, false, false, false],
                //   },
                //   "border:\nundefined",
                //   "border:\nundefined",
                // ],
                // ["", "border:\nundefined", "border:\nundefined"],
                // ["", "border:\nundefined", "border:\nundefined"],
              ],
            },
          },
        ],
        styles: {
          header: {
            fontSize: 18,
            bold: true,
            margin: [0, 0, 0, 10],
          },
          subheader: {
            fontSize: 16,
            bold: true,
            margin: [0, 10, 0, 5],
          },
          tableExample: {
            margin: [0, 5, 0, 15],
          },
          tableHeader: {
            bold: true,
            fontSize: 13,
            color: "black",
          },
          textCenter: {
            alignment: "center",
          },
        },
        defaultStyle: {
          // alignment: 'justify'
        },
      };
      pdfMake.createPdf(dd).download("reporte");
    },
  },
};
</script>
